#version=RHEL8
# ignoredisk --drives=pmem0,pmem2,pmem3,pmem1
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Use graphical install
graphical
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --mtu=9000 --nameserver=192.168.10.21 --onboot=yes --ipv6=auto --no-activate
network  --hostname=cishana-su-0
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw --iscrypted $6$pkwCOnYlCyRwH9dB$sxUV/lEZgkJRGYuZxwVWYyPz/qxOsp094mIj837HcQBsQHLikg.lKhmYeyprLUo6.m8isnXWsTmIGe4jro8Aa0
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --disabled="chronyd"
# Intended system purpose
syspurpose --role="Red Hat Enterprise Linux Server"
# System timezone
timezone America/Los_Angeles --isUtc --nontp
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=200
part / --fstype="xfs" --ondisk=sda --size=102400
part swap --fstype="swap" --ondisk=sda --size=2048

%packages
@^server-product-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# Add ssh key for Ansible control node

%post
mkdir -m0700 /root/.ssh/
cat << EOF > /root/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC4+nHJDfL0ioUAR9AooXpdrTYecRajoL5pbwK0utSvmxLSJ/ztr1bqHxUzLjWMU1qNhKVQa+92zH7q0GL62nD37uuOo8J3d3+0YNW00tZEHDUVIXrrVAWi6v6AdhzhiBWh1C41mzlPK/DNw3QWAJmnddrah1NmvnxQheskMQAgr5McBoiLVRtsAO3T6x0Z9M1qgdNYhOxSqpNux9ASU6Xp+NA9aI2FLUc9BRDVjsTq3vL04Xn4YTLbEkx+cPSCxePeqTXqq9mGjO9LOvmymQQY61LSpW4NcY5/X/lEeRqaxh1Ksw7LomanjC61gBUCh/JN6vUrmLVeGAddmamrZ93R root@rhel-mgmt.ciscolab.local
EOF
%end

reboot
